:root {
--page-background-color: #f5f5f5;
--border-grey: 1px solid #c4c4c4;
--hover-grey: #707070;
--blue-background-color: #76adff;
--border-blue: var(--blue-background-color);
--button-background-color: #14f100;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
}
html, body {
  font-family: Arial, sans-serif;
  background-color: var(--page-background-color);
}

li {
  list-style: none;
  margin: 0 10px;
  color: black;
}
ul {
  display: flex;
  color: rgb(66, 66, 66);
}
a {
  text-decoration: none;
  color: var(--border-grey);
}
a:hover, a:focus {
  color: var(--hover-grey);
}

img {
  max-height: 5rem;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

button {
  background-color: var(--color-primary-a10);
}

button:hover {
  background-color: var(--color-primary-a20);
  color: var(--hover-grey);
}
button:active {
  background-color: var(--color-primary-a30);
  color: #fff;
  transform: translateY(3px);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--page-background-color);
  padding-left: 2rem;
  border-bottom: 2px solid var(--border-blue);
  height:8vh;
}

/* Poker Table */
.table {
  padding: 20px;
  background-image: url(assets/poker-table-made-green-cloth-600nw-1653402223.jpg.webp);
  background-size:contain;
  background-repeat: no-repeat;
  background-position:center;
  height: 86vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.player-info-wrapper {
  display: flex;
  border: 1px solid #000;
  margin-bottom: 10px;
  background-color: black;
  color: aliceblue;
  z-index: 10;
  border-radius: 0.5rem;
  padding-left: 1rem;
}
.player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}
.player-action {
  background-color: var(--icy-gray-500);
  padding : 1rem;
  border-radius: 0.25rem;
}
.player-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
}

#playerPosition1 {
  bottom: 7rem;
}

#playerPosition2 {
  bottom: 7rem;
  left: 20rem;
}
#playerPosition3 {
  top:20rem;
  left: 10rem;
}
#playerPosition4 {
  top:5rem;
  left: 20rem;
}
#playerPosition5 {
  top:5rem;
  right: 20rem;
}
#playerPosition6 {
  bottom: 7rem;
  right: 20rem;
}

.pot {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
}

.community-cards {
  position: relative;
  display: flex;
}
.community-card {
  height: fit-content;
  border-radius: 0.3rem;
  max-height: 6rem;
  border: 2px solid #000;
  background-color: #fff;
}

.player-cards {
  display: flex;
}

.player-card {
  position: relative;
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
  border-radius: 0.3rem;
  width: auto;
  max-height: 6rem;
  background-color: #fff;
  transform: translateY(30%);
  overflow: hidden;
}

.dealer-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -20%);
  width: 3rem;
  height: 3rem;
}

.bottom-section {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  height: 19vh;
  width: 100%;
}

.chat {
  padding-right: 4rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  height: 8rem;
  background-color: var(--hover-grey);
}
.game-messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  overflow-y: scroll !important;
}

#messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  overflow-y: scroll !important;

}
#messages>li {
  margin-bottom: 0.2rem;
  color:#fff;
}

#game-message-input-wrapper {
  display: flex;
  flex-direction: row;
}

#game-message-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 0.2rem;
  height: 1.5rem;
  font-size: small;
  width: 10rem;
}
#game-message-input:focus {
  outline: none;
}

#sendMessageBtn {
  background-color: #fff;
  border-radius: 0.2rem;
  height: 1.6rem;
  font-size: small;
  width: 3rem;
  border: 1px solid #000;
  padding: 0;
  margin: 0;
}

.waiting {
  background-color: rgb(76, 76, 76);
  border-color: #750000;
  border: 2px solid #750000;
  transform: translateY(50px);
}

.hidden {
  display: none;
}

.active {
  animation: blinker 1s ease-in-out infinite;

}

@keyframes blinker {
  50% {
    background-color: rgb(126, 103, 103);
  }
}

.actions {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  height: fit-content;
  bottom:0;
}

#raiseInput {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 3rem;
  right:0;
  transform: translateY(-100%);
}
#raiseInputField {
  width: 6rem;
  height: 100%;
  border: none;
  text-align: center;
  font-size: x-large;
}

/* Chrome, Safari, Edge, Opera */
#raiseInputField::-webkit-outer-spin-button,
#raiseInputField::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#raiseInputField[type=number] {
  -moz-appearance: textfield;
}

#betBtnWrapper {
  display: flex;
  flex-direction: column;
  font-size: small;
  height: 3rem;
}
#betBtnWrapper>button {
  padding: 0.4rem;
  border-radius: 0.2rem;
  font-size: 0.1rem;
  background-color: #a07c7c;
  margin: 0rem 0;
  height: fit-content;
}

.action-button {
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 2.4rem;
  background-color: #a07c7c;
  margin: 0rem 0;
  height: fit-content;
}
.raiseOption {
  margin: 0 0.2rem;
  padding: .5rem;
  height: 3rem;
  font-size: medium;
}


/* Login/register Forms */
.form-logo {
  position: absolute;
  top: 5vh;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-wrapper {
  padding: 2rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--icy-gray-500);
  color: var(--color-primary-a0);
}

.form-input {
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: var(--border-grey);
  padding-left:1rem;
}

.form-input:focus {
  outline: none;
}
.question-text{
  margin-top:0.5rem;
  font-size: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.form-submit-btn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: var(--border-grey);
  background-color: var(--button-background-color);
  width: 15rem;
  text-align: center;
  font-size: medium;
  height:max-content;
}


/* ========================================================================== */
/* Games Page */
.game-list-wrapper {
  display: flex;
  flex-direction: row;
  overflow-x:scroll;
}
.game-card {
  background-color: var(--blue-background-color);
  padding: 1rem;
  margin: .5rem;
  border-radius: 2rem;
}
.game-card:hover {
  background-color: var(--color-primary-a20);
}

.game-card>button{
  padding:0 4rem;
  height: fit-content;
  border-radius: 1rem;
}

/*===========================================================================*/
/* Account Page */

.account-info {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.account-info>button{
  background-color: var(--color-primary-a10);
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  justify-content: start;
  align-items: start;
  font-size: 1rem;
  border: var(--border-grey);
  border-radius: 0.2rem;
  margin: 0.2rem 0;
  background-color: var(--blue-background-color);
}

#account-stats{
  display: flex;
  flex-direction: column;
  width: fit-content;
}
#account-stats>li{
  margin: 0rem 0;
  color: var(--color-primary-a0);
  margin: 0.2rem 0;
  background-color: var(--blue-background-color);
  padding: 1rem;
  border-radius: 0.2rem;

}