* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(172, 172, 172);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #6f6f6f;
  color: #fff;
}

li {
  list-style: none;
  margin: 0 10px;
  color: black;
}
ul {
  display: flex;
  color: black;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
img {
  max-height: 5rem;
}

.table {
  width: 60rem;
  height: 24rem;
  margin: 2rem auto;
  border: 2px solid #000;
  padding: 20px;
  background-color: rgb(46, 188, 82);
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.player-info-wrapper {
  display: flex;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  background-color: black;
  color: aliceblue;
  z-index: 10;
  border-radius: 0.5rem;
}
.player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
.player-action {
  margin-top: 1rem ;
}

#playerPosition1 {
  position: absolute;
  bottom: 25%;
  right: calc(50% - 5rem);
  display: flex;
  flex-direction: column;
}
#playerPosition2 {
  position: absolute;
  bottom: 34%;
  left: 17%;

  display: flex;
  flex-direction: column;
}
#playerPosition3 {
  position: absolute;
  bottom: 68%;
  left: 17%;
  display: flex;
  flex-direction: column;
}
#playerPosition4 {
  position: absolute;
  bottom: 75%;
  right: calc(50% - 5rem);
  display: flex;
  flex-direction: column;
}
#playerPosition5 {
  position: absolute;
  bottom: 68%;
  right: 17%;
  display: flex;
  flex-direction: column;
}
#playerPosition6 {
  position: absolute;
  bottom: 34%;
  right: 17%;
  display: flex;
  flex-direction: column;
}
.pot {
  margin-top: 5rem;
}


.community-cards {
  position: relative;
  display: flex;
}
.community-card {
  height: fit-content;
  border-radius: 0.3rem;
  max-height: 7rem;
  border: 2px solid #000;
  background-color: #fff;
}
.pot {
  display: flex;
  flex-direction: column;
}

.player-cards {
  display: flex;
}

.player-card {
  position: relative;
  display: flex;
  flex-direction: row;
  border: 2px solid #000;
  border-radius: 0.3rem;
  width: auto;
  max-height: 7rem;
  background-color: #fff;
  transform: translateY(50%);
}
.actions {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.active {
  animation: blinker 1s ease-in-out infinite;

}

@keyframes blinker {
  50% {
    background-color: rgb(113, 113, 113);
  }
}

button {
  margin: 0 1rem;
  padding: 3rem;
  border-radius: 3rem;
  font-size: 2rem;
  background-color: brown;
}

button:hover {
  background-color: #750000;
  color: #fff;
}
button:active {
  background-color: #000;
  color: #fff;
  transform: translateY(2px);
}

input {
  height: 7rem;
  font-size: large;
  border-radius: 3rem;
  justify-content: center;
  align-items: center;
}
